
/* Style of background of page */
body{
    background-color:lightsteelblue
}

footer{
        padding:15px;
        background-color: rgba(0, 0, 0, 0.199);
        color: black;

    #titleContactMe{
    text-decoration: underline;}
}


/* Style of link */

#LinkedIn1{
    color: blue;
    padding: 5px;}

#LinkedIn1:hover{
        color: red;}

#LinkedIn1:active{
        color: gray;}

#LinkedIn1:visited{
        color:brown;}


/* Style of Bookmarks */
#Boockmarks{
    border: 3px solid black;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.199);
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

#BookAboutMe, #BookVideo, #BookContactMe{
    color: black;
}

#BookAboutMe::before{
    color:rgb(85, 85, 230);
    font-family: "ForkAwesome";
    content: "\f007";
    margin-right: 10px;
}

#BookVideo::before{
    color: rgb(240, 240, 137);
    font-family: "ForkAwesome";
    content: "\f04b";
    margin-right: 10px;
}

#BookContactMe::before{
    color: rgb(143, 13, 13);
    font-family: "ForkAwesome";
    content: "\f0e0";
    margin-right: 10px;
}


/* Style of image */
#image1{
    border-radius: 50%;
    border: 2px solid black;
    padding: 5px;
}


/* Style of paragraph */
#paragraph1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 17px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.715);}


/* Style of paragraph with span*/
#paragraphWithSpan1{
    font-family: Arial, Helvetica, sans-serif;
    padding:25px;
    color:black;
    font-size: 15px;
}


/* Style of order list */
#orderList1{
    font-family: Arial, Helvetica, sans-serif;}


/* Style of unordered list */
#unorderList1{
    font-family: Arial, Helvetica, sans-serif;}


/* Style of table */
table, th, td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin-left: 25px;}


/* Style of Video */
#video1{
    font-style: italic; 
    
    padding: 25px;
}

